/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2008 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/
.summaryTableTypeCol {
	width: 10px;
	text-align: right;
}
.plainList {
	padding-left: 0;
	list-style-type: none;
}
.paddedList {
	padding-left: 20px;
	list-style-type: none;
}